body {
  margin: 0;
  background: #8d95a3;
}

.author {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.date {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #8d95a3;
}

.card-bottom {
  column-count: 2;
  position: absolute;
  bottom: 20px;
  white-space: nowrap;
}
